<h1>New User</h1>

<%= form_for(@user) do |f| %>

	<div class="field">
    	<%= f.label :username %><br />
    	<%= f.password_field :password %>
  	</div>

	
  	<div class="field">
    	<%= f.label :password %><br />
    	<%= f.password_field :password %>
  	</div>
  	<div class="field">
    	<%= f.label :password_confirmation %><br />
    	<%= f.password_field :password_confirmation  %>
  	</div>
<%= f.submit %>
<% end %>

<%= link_to 'Back', users_path %>
