<p id="notice"><%= notice %></p>


  <h1>
  <%= @user.username %>
  </h1>

<p>
  has made <%= @user.ratings.count %> ratings
</p>

<p>
  <h2>Ratings:</h2>
</p>

  <ul>
    <% @user.ratings.each do |rating| %>
      <li>
        <%= rating %>
        <% if @user == current_user %>
            <%= link_to 'delete', rating, method: :delete, data: { confirm: 'Are you sure?' } %>
        <% end %>
      </li>
    <% end %>
  </ul>

<br>

<p>
 <h2>Clubs:</h2>
</p>

<ul>
	<% @user.beer_clubs.each do |beer_club| %>
		<li><% beer_club.name%></li>
  <% end %>
</ul>

<br>

<% if @user == current_user %>
  <%= link_to 'Edit', edit_user_path(@user) %> |
  <%= link_to 'Destroy', @user_path, method: :delete, data: { confirm: 'Are you sure?' } %>
  <%= link_to 'Back', users_path %>
<% end %>


